body{
	background-color:yellow;
	color:green;
	font-family:Times New Roman,serif;
	margin: 30px auto;
	width:70%;
	font-size:14pt;
	text-align:justify;
}
h1{
	text-align:;
}


#felkover{
	font-weight:bold;
}
h2{
	text-align:center;
}
hr{
	height:45px;
	background-image:url('1.jpg');
	margin:0;
	padding:0;
	border: none;
}